.content-wrapper {
    position: relative;
    width: 100%;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    /* background-image: url(/bg8.png); */
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #E6E6E6;
    background-image: url('/bg.png');
    background-size: 100% 100%;
    /* растянуть и по ширине, и по высоте */
    background-repeat: no-repeat;
    background-position: center;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.video {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}
/* 
.video{
    width: 100%;
    height: 100%;
} */

.color {
    position: absolute;
    top:0;
    left: 0;
    height: 99%;
    width: 99%;
    /* background: #1840E0; */
    mix-blend-mode: hue;
}

.action-wrapper {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 55%;
    gap: 32px;
}

.action-wrapper p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 80%;
}

.action-wrapper button {
    cursor: pointer;
    width: fit-content;
    height: 48px;
    font-family: Poppins;
    border: none;
    background: none;
    font-weight: 600;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.action-wrapper button:hover {
    transform: scale(1.02);
}

.action-wrapper button img {
    transition: transform 0.5s ease-in-out;
}

.action-wrapper button:hover img {
    animation: spin 1s ease-in-out;
}

.action-wrapper button:not(:hover) img {
    animation: spin-reverse 0.5s ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media (max-width: 650px) {
    .content-wrapper {
        height: fit-content;
        gap: 32px;
        padding: 0 16px 0 16px;
        justify-content: space-between;
        border: none;
    }
    .video {
        position: relative;
        width: 140%;
        top: initial;
        left: initial;
        transform: translate(0, 0);
        z-index: -1;
        object-fit: cover;
    }

    .action-wrapper {
        display: none;
    }

    .action-wrapper p {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        width: 100%;
        text-align: left;
    }

    .action-wrapper button {
        display: none;
    }
}