.content-wrapper {
    gap: 48px;
    padding: 128px 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-self: stretch;
    height: fit-content;
    color: black;
}

.planet {
    position: absolute;
    top: 0px;
    left: -100px;
    z-index: -1;
}

.text {
    text-align: center;
}

.plates {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    gap: 16px;



}

.plate {
    height: 190px;
    border-radius: 20px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 48px;
    overflow: hidden;

}

.first {
    flex: 1;
}

.second {
    flex: 1;
}

.third {
    flex: 1;
}

.plate-title {
    font-size: 30px;
}

.plate-text {
    font-size: 14px;
}


/* Tablet styles */
@media (max-width: 1050px) {
    
    .content-wrapper {
        padding: 60px 32px;
        gap: 32px;
        align-items: flex-start;
    }
    
    .text {
        text-align: left;
        font-size: 13px;
    }
    
    .plates {
        flex-direction: column;
        gap: 20px;
    }
    
    .plate {
        width: 100%;
        height: auto;
        padding: 24px;
        gap: 24px;
    }
    
    .plate-text {
        font-size: 13px;
    }
    
    .title {
        width: 60%;
    }
}