.content-wrapper {
    gap: 48px;
    padding: 128px 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-self: stretch;
    height: fit-content;
    color: black;
}

.planet {
    position: absolute;
    top: 0px;
    left: -100px;
    z-index: -1;
}

.text {
    text-align: center;
}

.plates {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    gap: 16px;



}

.plate {
    height: 190px;
    border-radius: 20px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 48px;
    overflow: hidden;

}

.first {
    flex: 1;
}

.second {
    flex: 1;
}

.third {
    flex: 1;
}

.plate-title {
    font-size: 30px;
}

.plate-text {
    font-size: 14px;
}

.ecosystem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.ecosystem p {
    font-size: 20px;
}

.partner-plates {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.partner-plate {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 160px;
    padding: 16px;
    justify-content: center;
    
    background-size:cover;
    /* растянуть и по ширине, и по высоте */
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
    border-radius: 20px;
    border: 1px solid rgb(54, 54, 54);
}

.partner-plate img {
    position: absolute;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bluff {
    background-image: url('/bluff.png');
    flex: 1;
}

.bb {
    background-image: url('/bb.png');
    flex: 1;
}

.reboost {
    background-image: url('/reboost.png');
    flex: 1;
}

.partner-plate span {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.partner-logo {
    height: 80%;
}

/* Tablet styles */
@media (max-width: 1050px) {
    
    .content-wrapper {
        padding: 60px 32px;
        gap: 32px;
        align-items: flex-start;
    }
    
    .text {
        text-align: left;
        font-size: 13px;
    }
    
    .plates {
        flex-direction: column;
        gap: 20px;
    }
    
    .plate {
        width: 100%;
        height: auto;
        padding: 24px;
        gap: 24px;
    }
    
    .plate-text {
        font-size: 13px;
    }

    .ecosystem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    
    .ecosystem p {
        font-size: 20px;
    }
    
    .partner-plates {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .partner-plate {
        width: 250px;
        height: 160px;
    }
    
    .title {
        width: 60%;
    }

    .partner-plate img {
        height: 60px;
    }
}


@media (max-width: 750px) {
    .bluff {
        background-image: url('/bluff.png');
        width: 160px;
        flex: none;
    }

    .bb {
        background-image: url('/bb.png');
        width: 160px;
        flex: none;
    }

    .reboost {
        background-image: url('/reboost.png');
        width: 160px;
        flex: none;
    }
    .partner-plate img {
        height: 50px;
    }

    .partner-plate span {
        font-size: 10px;
    }
}

@media (max-width: 600px) {

    .bluff {
        background-image: url('/bluff.png');
        height: 120px;
        width: 120px;
        flex: none;
    }

    .bb {
        background-image: url('/bb.png');
        height: 120px;
        width: 120px;
        flex: none;
    }

    .reboost {
        background-image: url('/reboost.png');
        height: 120px;
        width: 120px;
        flex: none;
    }

    .partner-plate img {
        height: 40px;
    }
}

@media (max-width: 500px) {
    .partner-plate img {
        height: 30px;
    }
    .bluff {
        background-image: url('/bluff.png');
        height: 100px;
        width: 100px;
        flex: none;
    }

    .bb {
        background-image: url('/bb.png');
        height: 100px;
        width: 100px;
        flex: none;
    }

    .reboost {
        background-image: url('/reboost.png');
        height: 100px;
        width: 100px;
        flex: none;
    }

    .partner-plate span {
        display: none;
    }
}

@media (max-width: 400px) {
    .partner-plate span {
        display: none;
    }
    .partner-plate img {
        height: 30px;
    }

    .bluff {
        background-image: url('/bluff.png');
        height: 80px;
        width: 80px;
        flex: none;
    }

    .bb {
        background-image: url('/bb.png');
        height: 80px;
        width: 80px;
        flex: none;
    }

    .reboost {
        background-image: url('/reboost.png');
        height: 80px;
        width: 80px;
        flex: none;
    }
}