.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1512px;
    width: 100svw;
    min-height: 100svh;
    /* border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6; */

}